{{#if isSecondary}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">{{label}}
                    {{!-- <svg class="icon" role="img" aria-label="{{t slug}} icon">
                        <title>{{t slug}}</title>
                        <use xlink:href="#{{t slug}}"></use>
                    </svg> --}}
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <ul class="nav">
        {{#foreach navigation}}
        <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{@site.url}}{{t url}}">{{t label}}</a></li>
        {{/foreach}}
    </ul>
{{/if}}
